h1 {
    color: lightgray;
}

img {
    width: 50px;
    height: auto;
}

.container {
    background-color: lightgray;
    margin: 1.5%;
}

.navbar {
    background-color: teal;
    margin:0px;
}

.card {
    margin: 1.5%;
}

.fleft {
    float:left;
}

.fright {
    float:right;
}